* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
    font-weight: normal;
}

body {

    height: 170vh;
    background-color: grey;
    font-family: 'Roboto';
}

.top-bar {
    width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.links a:hover {
    color: red;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 18rem;
}

.header {
    background-color: gray;
    width: 100%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header h1 {
    font-size: 4rem;
    margin-bottom: 8px;
    padding-top: 30px;
    color: whitesmoke;
}

.header p {
    font-size: 1.3rem;
    color: whitesmoke;
}

.header p a {
    color: whitesmoke;
}

.header p a:hover {
    text-decoration: none;
}

.plan-parent {
    margin-top: 6rem;
    width: 100%;
    height: 90vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.plan {
    background-color: white;
    height: 90vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.price {
    background-color: green;
    position: absolute;
    top: -50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    color: white;
}

.choose-button {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-button button {
    background-color: red;
    padding: 1rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;

}

.choose-button button:hover {

    background-color: rgb(235, 11, 11);

}

.list {
    position: absolute;
    bottom: 195px;
}

.list ul li {
    line-height: 35px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

ul .tick:before {
    content: "\2714\0020";
    color: rgb(9, 172, 236);
}

ul .times:before {
    content: "×";
    color: red;
    font-size: 30px;
    margin-right: 10px;
}

.plan #plan-name {
    letter-spacing: 1px;
}

.hatchling {
    background: rgb(68, 16, 222);
    background: linear-gradient(0deg, rgba(68, 16, 222, 1) 26%, rgba(65, 6, 110, 1) 50%);
}

.baby {
    background: rgb(63, 222, 13);
    background: linear-gradient(0deg, rgba(63, 222, 13, 1) 22%, rgba(213, 8, 8, 1) 100%);
}

.premium {
    background: rgb(118, 6, 6);
    background: linear-gradient(180deg, rgba(118, 6, 6, 1) 46%, rgba(163, 5, 5, 1) 60%);
}

.footer {
    margin-top: 60px;
    height: 40vh;
    width: 100%;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.footer a {
    color: skyblue;
}

.footer a:hover {
    color: lightgrey;
    text-decoration: none;
}